/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .top-wrapper h1{
    font-size:32px;
  }
  .heading h2{
    font-size:20px;
  }
  .center{
    width:50%;
    margin-bottom:20px;
  }

  .center-wrapper {
    padding-bottom:240%;
  
  }
  .contact-form{
    width:100%;
  }

  .contact-about{
    width:100%;
  }
  footer{
    text-align:center;
  }
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {

  .top-wrapper{
    text-align:left;
  }
  .top-wrapper h1{
    font-size:24px;
  }
  .top-wrapper p{
    font-size:14px;
  }
  .center{
    width:50%;
    margin-bottom:20px;
  }

  .center-wrapper {
    padding-bottom:240%;
  
  }

  .contact-form{
    width:100%;
  }

  .contact-about{
    width:100%;
  }

}